<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Allow access to api files
  RewriteRule ^api/ - [L]
  # Allow access to uploads
  RewriteRule ^uploads/ - [L]

  # SPA Routing: Redirect everything else to index.html
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
